/* setting the dimensions */
progress {
  width: 275px;
  height: 16px;
  display: block;
  /* disable defaults */
  -webkit-appearance: none;
  border-radius: 15px;
  padding: -4px;
  border: 1px solid blueviolet;
}
/*Styling the background of the progress bar */
progress::-webkit-progress-bar {
  background: white;
  border-radius: 45px;
  /* padding: 2px; */
  box-shadow: 0 1px 0px 0 blueviolet;
}
/* Setting the appearance of the meter */
progress::-webkit-progress-value {
  border-radius: 25px;
  box-shadow: inset 0 1px 1px 0 blueviolet;
  background-size: 250px 25px;
  background-image: linear-gradient(
    135deg,
    blueviolet,
    blueviolet 55%,
    blue 75%,
    blueviolet 75%,
    blueviolet,
    blueviolet 75%,
    blueviolet
  );
}
