* {
  margin: 0px;
}

*:focus {
  outline: none;
}

.top-bar {
  margin: 0px;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  background-color: blueviolet;
  color: white;
  font-weight: 200;
}

.top-bar h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}

.logo {
  float: left;
}

.branding {
  float: inline;
}

.header-image {
  padding: 10px;
}

.header-text {
  padding: 10px;
}

.heading {
  margin: 20px;
  padding: 5px 20px;
}

.title-left-pane {
  width: 90%;
  display: inline-block;
  margin-bottom: -12px;
}

.nav {
  float: inline;
  background-color: blueviolet;
}

.nav-bar h2 {
  background-color: rgb(107, 34, 175);
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px -10px -10px -10px;
}

.nav-bar a {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -3px;
  padding-top: 3px;
}

.nav-bar a:hover {
  border-radius: 360px;
  background-color: rgb(73, 11, 131);
}

.nav-links {
  float: right;
  color: white;
}

.dropdown {
  position: relative;
  float: right;
  background-color: transparent;
}

.dropbtn {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -3px;
  padding-top: 3px;
  float: right;
  background-color: transparent;
  color: white;
  border: transparent;
}

.dropdown-content {
  display: none;
  float: left;
  position: absolute;
  text-align: left;
  background-color: #f1f1f1;
  min-width: 130px;
  margin-top: 15px;
  margin-left: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  min-width: 130px;
  margin-top: 0px;
  float: left;
  color: black;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  float: left;
  border-radius: 0%;
  background-color: blueviolet;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-radius: 360px;
  background-color: rgb(73, 11, 131);
}

.page-head {
  margin-left: 45%;
  margin-top: 15px;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  border-radius: 150px;
  background-color: blueviolet;
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: white;
}

.user-info {
  align-self: auto;
  align-content: center;
  vertical-align: middle;
  float: right;
  padding: 8px 5px 5px 25px;
  background: blueviolet;
  border-radius: 15px;
}

.info-text {
  float: left;
  text-align: justify;
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: white;
}

.img-user {
  margin-left: 10px;
  float: right;
}

.user-image {
  max-width: 50px;
  max-height: 50px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.container-special {
  width: 40%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 15px;
}

.filters .filter-cat,
.filter-dept,
.filter-level {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

.filter-dept,
.filter-cat {
  margin: 0px 50px;
}

.categories-list {
  background-color: blueviolet;
  border-radius: 150px;
  width: 160px;
  color: white;
  border-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding: 3px 5px;
}

.options {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.option {
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.option:hover {
  background-color: blueviolet;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.button-small {
  display: inline-block;
  border-radius: 150px;
  background-color: blueviolet;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-color: white;
  padding: 3px 5px;
  font-size: 18px;
}

.list-table {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  border-color: blueviolet;
}

.list-table td {
  align-items: center;
  text-align: center;
}

.num-res {
  float: right;
  margin-left: 100px;
}

table {
  border-collapse: separate;
  border: solid blueviolet 1px;
  overflow: hidden;
  border-radius: 6px;
  font-family: "Source Sans Pro", sans-serif;
  -moz-border-radius: 6px;
  text-transform: capitalize;
}

thead {
  padding: -1px;
  border-top-left-radius: 15px;
  background-color: blueviolet;
  color: white;
}

td {
  border-left: solid blueviolet 1px;
  overflow: hidden;
  border-top: solid blueviolet 1px;
  text-transform: capitalize;
}

th {
  background-color: blueviolet;
  overflow: hidden;
  border-top: none;
  padding: 10px 3px;
}

tr a {
  text-transform: none;
  text-decoration: none;
  text-align: left;
  color: none;
}

tr a:hover {
  color: black;
  font-weight: 600;
}

tr:hover {
  background-color: hsl(0, 0%, 89%);
  text-transform: capitalize;
  border-radius: 6px;
}

td:first-child,
th:first-child {
  border-left: none;
}

footer {
  width: 100%;
  margin-top: 100px;
  background-color: rgb(15, 15, 15);
  color: lightgrey;
}

footer .quick-links {
  background-color: rgb(40, 40, 40);
  text-align: center;
  color: rgb(221, 221, 221);
  font-size: 13px;
  padding: 10px 0px;
}

footer .quick-links a {
  color: rgb(221, 221, 221);
  text-decoration: none;
}

footer .contents {
  color: lightgray;
  font-size: 13px;
  margin: 5px;
  padding: 10px 10px;
}

footer .copyright-notes {
  vertical-align: bottom;
  text-align: center;
  font-weight: 200;
  padding: 15px 0px;
  background-color: black;
}
/* USer panel */

.dropdown-user {
  position: relative;
  float: right;
  background-color: transparent;
}

.dropbtn-user {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -3px;
  padding-top: 3px;
  float: right;
  background-color: transparent;
  color: white;
  border: transparent;
}

.dropdown-content-user {
  display: none;
  float: left;
  position: absolute;
  text-align: center;
  background-color: #f1f1f1;
  min-width: 100px;
  max-width: 100px;
  margin-top: 50px;
  margin-left: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-user a {
  min-width: 100px;
  max-width: 100px;
  margin-top: 0px;
  float: left;
  color: black;
  padding: 12px 0px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown-content-user a:hover {
  float: left;
  border-radius: 0%;
  max-width: 100px;
  background-color: blueviolet;
  color: white;
}

.dropdown-user:hover .dropdown-content-user {
  display: block;
}

.buttons-pane {
  margin: 15px;
}

.button-gen {
  width: 200px;
  background-color: transparent;
  color: rgb(0, 110, 255);
  border-radius: 150px;
  border: 1px solid rgb(0, 110, 255);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  padding: 8px 10px 5px 10px;
  /* margin-left: 40px;
  margin-right: 40px; */
  margin-top: 15px;
}

.button-gen:hover {
  background-color: rgb(0, 110, 255);
  color: white;
}

.button-icon {
  float: left;
  margin-right: 5px;
}

.button-text {
  float: inline;
}

.text-box {
  border-radius: 150px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 400px;
  border: 1px solid blueviolet;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.text-box-err {
  border-radius: 150px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 400px;
  border: 1px solid rgb(255, 0, 55);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.num-box {
  border-radius: 150px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 100px;
  border: 1px solid blueviolet;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.text-box:hover {
  border: 1px solid rgb(0, 110, 255);
}

.text-pass {
  border-radius: 150px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 200px;
  border: 1px solid blueviolet;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.text-pass-err {
  border-radius: 150px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 200px;
  border: 1px solid rgb(255, 0, 55);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.text-pass:hover {
  border: 1px solid rgb(0, 110, 255);
}

textarea {
  border: 1px solid blueviolet;
  border-radius: 5px;
  min-height: 200px;
  min-width: 90%;
  max-width: 90%;
  margin: 5px 0px;
  padding: 5px 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
